@model Product

<form method="post">
    <div asp-validation-summary="All"></div>

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add a Product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="pname"></label>
            <input asp-for="pname" class="form-control" />
            <span asp-validation-for="pname" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="pdesc"></label>
            <input asp-for="pdesc" class="form-control" />
            <span asp-validation-for="pdesc" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="price"></label>
            <input asp-for="price" class="form-control" />
            <span asp-validation-for="price" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="brandname"></label>
            <input asp-for="brandname" class="form-control" />
            <span asp-validation-for="brandname" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Quantity"></label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CreatedDateTime"></label>
            <input asp-for="CreatedDateTime" class="form-control" />
            <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Add Product</button>
        <a asp-controller="ProductContoller" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to Product List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

