@model register

@{
    ViewData["Title"] = "register";
}

<section style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

            <form method="post" class="px-md-2">

              <div class="form-outline mb-4">
                <label class="form-label" asp-for="fname">First Name</label>
                <input type="text" asp-for="fname" class="form-control" />
                
                <span asp-validation-for="fname" class="text-danger"></span>
              </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" asp-for="lname">Last Name</label>
                                <input type="text" asp-for="lname" class="form-control" />

                                <span asp-validation-for="lname" class="text-danger"></span>
                            </div>

              <div class="row">

                                <div class="mb-3">
                                    <label asp-for="CreatedDateTime"></label>
                                    <input asp-for="CreatedDateTime" class="form-control" />
                                    <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
                                </div>
             
                <div class="col-md-6 mb-4">

                  <select class="select">
                    <option value="1" disabled>Gender</option>
                    <option value="2">Female</option>
                    <option value="3">Male</option>
                    <option value="4">Other</option>
                  </select>

                </div>
              </div>

                            <div class=" mb-3">

                                <div class="form-outline">
                                    <label asp-for="email" class="form-label">Email Address</label>
                                    <input type="text" class="form-control" asp-for="email" />
                                    <span asp-validation-for="email" class="text-danger"></span>
                                </div>

                            </div>

              <div mb-4 pb-2 pb-md-0 mb-md-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" asp-for="number">Phone Number</label>
                                    <input type="text" asp-for="number" class="form-control" />

                                    <span asp-validation-for="number" class="text-danger"></span>
                                </div>

              </div>

                            <div class=" mb-4">

                                <div class="form-outline">
                                    <label asp-for="uname" class="form-label">Username</label>
                                    <input type="text" class="form-control" asp-for="uname" />

                                    <span asp-validation-for="uname" class="text-danger"></span>
                                </div>

                            </div>

                            <div class=" mb-4">

                                <div class="form-outline">
                                    <label asp-for="pass" class="form-label">Password</label>
                                    <input type="password" class="form-control" asp-for="pass" />
                                    <span asp-validation-for="pass" class="text-danger"></span>
                                </div>

                            </div>

                            <input type="file" name="image" class="form-control" accept="image/*"
                                   onchange="updatePreview(this, 'image-preview')">

                            <br>
                            <div class="text-center">
                                <img id="image-preview"
                                     src="https://via.placeholder.com/400"
                                     style="width:100px"
                                     class="rounded rounded-circle" alt="placeholder">
                            </div>
                            <script type="text/javascript">
                                function updatePreview(input, target) {
                                    let file = input.files[0];
                                    let reader = new FileReader();

                                    reader.readAsDataURL(file);
                                    reader.onload = function () {
                                        let img = document.getElementById(target);

                                        img.src = reader.result;
                                    }
                                }
                            </script>

                            <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                <label class="form-check-label" for="form2Example3">
                                    Account Status
                                </label>
                            </div>

              <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
